<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>register</title>
  <link rel="stylesheet" href="../css/register.css">
</head>

<body>
  <form id="login" class="login" action="">
    <input id="register_username" name="username" placeholder="username" type="text">
    <br />
    <input id="register_password" name="password" placeholder="password" type="password">
    <button id="regBtn">注册</button>
    <button id="goLogin">去登录</button>
  </form>

  <script src="../js/register.js" type="module"></script>
</body>

</html>